* {
    color: white;
    background-color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0px;
}

body {
    font-size: 1em;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}